<!DOCTYPE html>
<html>
<head>
  <title>NewIssues</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, issues_path(:rss)) %>
</head>
<body>
<ul>
	<li><a href="/en/timeline/index"><%=t "nav.timeline"%></a></li>
	<li><a href="/en/issues"><%=t "nav.issues.list"%></a></li>
	<li><a href="/en/issues/new"><%=t "nav.issues.new"%></a></li>
	<%= yield :nav %>
</ul>
<%= yield %>

</body>
</html>
