<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>No followers:</strong>
  <%= @issue.no_followers %>
</p>

<p><b>Created at:</b>
	<%=l @issue.created_at, format: :short%>
</p>

<p>
	<b>Project:</b>
	<%= link_to @issue.project.name, project_path(id: @issue.project.id) %>
</p>
<%= link_to 'Edit', edit_issue_path(id: @issue.id) %> |
<%= link_to 'Back', issues_path %>
